


.list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items : center;
    text-align:center;
   
   
  }

   
   @font-face {
    font-family: "face";
    src: url(RobotoCondensed-VariableFont_wght.ttf);
   }
   .head{
    width: 396.12px;
    height: 52.87px;
    font-size: 45.07px;
    font-weight: bold;
    font-family: "face";
    line-height: 52.82px;
    text-align: center;
    color: rgba(67, 72, 77, 1);
    margin: auto;
    
   }


.div1{
    width: 296.55px;
    height: 354.21px;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;

  
}
h1{
    width: 238.89px;
    height: 31.3px;
    font-family: "face";
    font-size: 26.36px;
    font-weight:300;
    color: rgba(67, 72, 77, 1);
    margin-top:  15%;
   
  

   
   
    
  
}
.p1{
    width: 247.12px;
    height: 61.78px;
    font-family: "face";
    font-size: 13.18px;
    line-height: 20.59px;
    color:  rgba(134, 147, 158, 1);
 
    
   
}
hr{
    color: rgba(225, 232, 238, 1);
    opacity: 50%;
    margin-top: 25px;
}
.free{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 8%;
    
}
span{
    width: 75.78px;
    height: 47.78px;
    font-family: "face";
    font-size: 42.83px;
    line-height: 47.78px;
    color: rgba(125, 200, 85, 1);
   
    
}
.p2{
    width: 136.74px;
    height: 49.42px;
    font-size: 11.53px;
    font-family: "face";
    line-height: 16.47px;
    color: rgba(134, 147, 158, 1);
   text-align: end;
   
}
.button1{
    width: 247.12px;
    height: 49.42px;
    background-color: rgba(125, 200, 85, 1);
    color: white;
    border: none ;
    border-radius: 10px;
   

}
.div2{
    width: 296.55px;
    height: 354.21px;
    background-color: 
    rgba(255, 255, 255, 1);
    
   

}




.div3{
    width: 296.55px;
    height: 354.21px;
    background-color: 
    rgba(255, 255, 255, 1);
    align-items: center;
   

}